.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


header {
  top: 0;
  position: relative;
  height: 100px;
  box-shadow: 0 5px 7px 0 silver;
  padding: auto;
  font-family: grand hotel;
  font-size: 5rem;
  text-align: center;
  width: 75%;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 20px;
}

main {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  font-family: monospace;
  justify-content: center;
  font-size: large;
}

footer {
  height: 100px;
  text-align: right;
  
}

form {
  border : 1px solid transparent;
  border-radius: 5px;
  padding: 5px;
  background-color: #ffffff;
}

input[type="text"],
input[type="date"],
input[type="email"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

label {
  text-transform: uppercase;
}
input[type="submit"] {
  width: 100%;
  background-color: #62d6eb;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: large;
  font-family: calibri;
  text-transform: uppercase;
}

input[type="submit"]:hover {
  background-color: #52dfc0;
  color: white;
}

div {
  border-radius: 5px;
  padding: 10px;
}

.name-group {
  display: flex;
}

.email-group {
  padding-left: 0;
  font-family: monospace;
}
.gender-group {
  display: flex;
}
.gender-group * {
  margin: 10px;
}
.name-group input {
  margin: 10px;
  font-family: consolas;
  border-bottom: 2px solid dimgray;
  border-top: none;
  border-radius: 0;
  border-right: none;
  border-left: none;
  background-color: transparent;
}

.masked {
  font-family: monospace;
  padding-right: 10px;
  background-color: transparent;
  text-transform: uppercase;
}

hr {
  background-color: silver;
  width: 100%;
}

.mid-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 10px 10px 0 0;
  
}

.aside-header {
  margin-bottom: 10px;
  background-color: #62d6eb;
  width: 100%;
  box-shadow: 5px 0 4px silver;
  text-align: center;
}

.aside-header p {
  color: white;
  font-family: adinda melia;
  font-size: x-large;
  font-weight: bold;
}
.dashboard {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 50px;
  grid-template-areas:
    "dash-header"
    "dash-main"
    "dash-footer";
  width: 75%;
}

.dash-header {
  height: 100px;
  grid-area: dash-header;
  display: flex;
}

.dash-main {
  grid-area: dash-main;
  background-color: #8fd4d9;
}

.dash-main-header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  height: 150px; /* Force our height since we don't have actual content yet */
  background-color: #e3e4e6;
  color: slategray;
}

.dash-main-header__heading {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
}

.dash-main-header__heading-items {
  margin: 0;
}


.dash-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background-color: skyblue;
}

.onboarding-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border: 1px solid silver;
  box-shadow: 5px 5px 4px silver;
  border-radius: 5px;
  width: 100%;
}


.img-card {
  background-image: url("./assets/space_shuttle.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  padding: 0;
  border-radius: 0;
  border-radius: 5px;
}

.registration-container {
  margin: auto;
}

.flex-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-item {
  display: flex;
  height: 100px;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100px;
  background-color: salmon;
  text-align: center;
}

.card-item + .card-item {
  margin-left: 2%;
}

.card-item-center {
  flex-grow: 1; /* Set the middle element to grow and stretch */
  background-color: #52dfc0;
}

.d-m-h-header {
  font-size: large;
}

.d-m-h-header span {
  font-size: x-large;
  font-family: monospace;
  color: blue;
  background-color: yellow;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 5px;
}

div > span {
  font-family: monospace;
}

