.container {
  display: flex;
  flex-direction: column;
}

header {
  top: 0;
  position: sticky;
  height: 100px;
  background-color: beige;
  box-shadow: 10px 10px 8px #8888;
  padding: auto;
  font-family: grand hotel;
  font-size: xxx-large;
  text-align: center;
}

main {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  align-self: center;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  margin-bottom: 10px;
  width: 100%;
  text-align: right;
}

input[type=text],input[type=date], input[type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.name-group {
  display: flex;
  border: 1px dashed;
}

.gender-group {
  display: flex;
  border: 1px dashed;
  align-items: center;
  justify-content: center;
}
.gender-group * {
  margin: 10px;
}
.name-group input {
  margin: 10px;
  border-bottom: 1px solid;
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: transparent;
}

.masked {
  font-family: monospace;
  padding-right: 10px;
  background-color: transparent;
  text-transform: uppercase;
}